@font-face {
    font-family: 'blue_highwayregular';
    src: url('../fonts/blue_highway_rg-webfont.eot');
    src: url('../fonts/blue_highway_rg-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/blue_highway_rg-webfont.woff') format('woff'),url('../fonts/blue_highway_rg-webfont.ttf') format('truetype'),url('../fonts/blue_highway_rg-webfont.svg#blue_highwayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body { font-family: blue_highwayregular }
nav ul {
    list-style: none;
    color: gray;
}
nav ul li { display: inline }
nav ul li a {
    font-weight: bold;
    padding: 10px;
    margin-left: 5px;
    text-transform: uppercase;
    color: gray;
    display: inline;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
nav ul li a:hover {
    text-decoration: none;
    /*background-color: #ff3256;*/
    color: rgba(86,247,189,1);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.menu-select {
    text-decoration: none;
    background-color: #ff3256;
    color: white;
}
.span3 { margin-right: -12px }
#main-content {
    margin-top: 80px;
    position: relative;
    height: 450px;
}
.shadow {
    -moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
}
#logo:hover {
    -ms-filter: "alpha(opacity=50)";
    filter: alpha(opacity=50);
    opacity: .5;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#logo {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
footer p {
    font-size: 10px;
    letter-spacing: 1px;
    margin-left: 30px;
}
hr {
    width: 910px;
    margin-left: 15px;
    margin-top: 60px;
}
.thumbs {
    position: relative;
    width: 220px;
    height: 220px;
    overflow: hidden;
}
.thumb-overlay {
    position: absolute;
    display: none;
    left: -220px;
    width: 220px;
    height: 220px;
    background-color: rgba(86,247,189,0.80);
    overflow: hidden;
}
.thumb-overlay-span {
    font-size: 20px;
    color: white;
    background-color: #ff3256;
    padding: 10px;
    position: absolute;
    top: 40px;
    left: -20px;
    text-transform: uppercase;
}
.thumb-overlay-p {
    font-size: 20px;
    color: white;
    background-color: #ff3256;
    padding: 10px;
    position: absolute;
    top: 43px;
    left: 0;
    text-transform: uppercase;
}
.thumb-overlay-p2 {
    color: #464646;
    font-size: 14px;
    padding: 10px;
    position: absolute;
    top: 100px;
    left: 0;
    text-transform: lowercase;
}
.thumb-img1 { background-image: url('../img/thumbs/thumbnail_agendaola.jpg') }
.thumb-img2 { background-image: url('../img/thumbs/thumbnail_danone.jpg') }
.thumb-img3 { background-image: url('../img/thumbs/thumbnail_ea.jpg') }
.thumb-img4 { background-image: url('../img/thumbs/thumbnail_ementaola.jpg') }
.thumb-img5 { background-image: url('../img/thumbs/thumbnail_fulldata.jpg') }
.thumb-img6 { background-image: url('../img/thumbs/thumbnail_hs.jpg') }
.thumb-img7 { background-image: url('../img/thumbs/thumbnail_ilustra.jpg') }
.thumb-img8 { background-image: url('../img/thumbs/thumbnail_kv_sonae.jpg') }
.thumb-img9 { background-image: url('../img/thumbs/thumbnail_lagoalva.jpg') }
.thumb-img10 { background-image: url('../img/thumbs/thumbnail_laprod.jpg') }
.thumb-img11 { background-image: url('../img/thumbs/thumbnail_mor.jpg') }
.thumb-img12 { background-image: url('../img/thumbs/thumbnail_mt.jpg') }
.thumb-img13 { background-image: url('../img/thumbs/thumbnail_myself.jpg') }
.thumb-img14 { background-image: url('../img/thumbs/thumbnail_nestle.jpg') }
.thumb-img15 { background-image: url('../img/thumbs/thumbnail_oralb.jpg') }
.thumb-img16 { background-image: url('../img/thumbs/thumbnail_sagres.jpg') }
.thumb-img17 { background-image: url('../img/thumbs/thumbnail_stup_continente.jpg') }
.thumb-img18 { background-image: url('../img/thumbs/thumbnail_urbity.jpg') }
.thumb-img19 { background-image: url('../img/thumbs/thumbnail_chiclete.jpg') }
.square-active {
    display: inline-block;
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-color: rgba(86,247,189,1);
    margin-right: 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.square-inactive {
    display: inline-block;
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-color: rgba(189,189,189,1);
    margin-right: 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.square-inactive:hover {
    background-color: rgba(86,247,189,1);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#row3-4 { display: none }
#row5-6 { display: none }
.bottom-nav {
    position: absolute;
    top: 450px;
}

#lateral {
    width: 250px;
    height: 100%;
    background-color: rgba(86,247,189,1);
}

#lateral p {
    color: white;
    font-size: 35px;
    padding: 35px;
}

#lateral-dir {
    background-color: gray;
    margin-right: 15px;
    width: 644px;
    height: 100%;
    background-color: rgb(241, 241, 241);
}

.bold {
    padding: 35px;
    color: #ff3256;
    font-weight: bold;
    text-transform: uppercase;
}

.nbold {
    margin-top: -45px;
    margin-left: 35px;
    text-transform: uppercase;
    color: gray;
}

.lateral-contacts {
    margin-right: 15px;
    width: 314px;
    height: 218px;
    margin-bottom: 15px;
    background-color: rgb(241, 241, 241);
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.contact-insta {
    background-image: url('../img/instagram.png');
    background-position: center center;
    background-repeat: no-repeat;
}

.contact-vimeo {
    background-image: url('../img/vimeo.png');
    background-position: center center;
    background-repeat: no-repeat;
}

.contact-flickr {
    background-image: url('../img/flickr.png');
    background-position: center center;
    background-repeat: no-repeat;
}

.contact-linkedin {
    background-image: url('../img/linkedin.png');
    background-position: center center;
    background-repeat: no-repeat;
}


.lateral-contacts:hover {
    background-color: rgb(230, 230, 230);
}